# Neon Postgres 연결 문자열 (Neon 콘솔 대시보드 -> Connection details에서 복사)
DATABASE_URL="postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# 관리자 대시보드 비밀번호 (선택사항)
ADMIN_PASSWORD="surveyadmin2026!"
